
@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>

<p>Why I created Mutts and Mares...</p>

<p>
    I created Mutts and Mares because I wanted to offer services to ALL animals (especially my favorites, dogs and horses!). Covid has been putting us through tough times for all of us, so I believe that while things seem to be getting better we should all be able to have the opportunity to see family when it’s possible! I hope to provide that for you and your pets by providing my services. I offer drop-in visits, sitting, walking, bathing, and nail clipping* for dogs. I will also be offering equine services in the near future. I’m currently trying to compute rates for the afformentioned equine services at the moment, so feel free to ask!

    *restrictions may apply
</p>

<p> Offering holiday visits* with limited availability. While my page is still in the works, please feel free to send a message for any questions you may have about my services or press the “Get Quote” button! Thank you for checking out our page!!!</p>